body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
}

.wrapper {
  padding-left: 256px;
}

.emptyMenuItem {
  display: block;
  height: 30px;
}

.make-it-black div {
  color: black;
}
